@model List<Category>

	

<div class="container">
	<div class="row pt-4 pb-3">

		<div class="col-6">
			<h3 class="text-primary">Category List</h3>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create Category</a>
		</div>
	</div>
	<table class="table-striped table table-bordered text-center">
		<thead>
			<tr>
				
				<th>Name</th>
				<th>Display Order</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@foreach (var obj in Model.OrderBy(u => u.Id))
			{
				<tr>
					
					<td>@obj.Name</td> 
					<td>@obj.DisplayOrder</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a class="btn btn-primary mx-2" asp-controller="Category" asp-route-id="@obj.Id" asp-action="Edit"><i class="bi bi-pencil-square "></i><span class="p-1">Edit</span></a>
							<a class="btn btn-danger mx-2" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash3-fill"></i><span class="p-1 fw-bolder">Delete</span></a>
						</div>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>